body
  :font-family Rockwell, Helvetica, Arial, sans-serif
  :font-size 10px

.flash
  :position absolute
  :top 5px
  :left 5px
  :border solid 3px #EEE
  :background #FFF
  :color #333
  :font-size 14px
  :line-height 18px
  :z-index 1000
  :padding 10px 15px
  :width 300px
  :-webkit-border-radius 10px
  :-moz-border-radius 10px
  :border-radius 10px
  :-webkit-box-shadow 4px 4px 4px rgba(0, 0, 0, .33)
  :-moz-box-shadow 4px 4px 4px rgba(0, 0, 0, .33)
  img
    :float left
    :margin-right 10px
.flash.notice
  :border-color #17681E
  :color #17681E
.flash.error
  :border-color #691717
  :color #691717
  
#header-bar
  :background #333
  :background rgba(0, 0, 0, .8)
  :border-bottom-left-radius 10px
  :border-bottom-right-radius 10px
  :-webkit-border-bottom-left-radius 10px
  :-webkit-border-bottom-right-radius 10px
  :-moz-border-radius-bottomleft 10px
  :-moz-border-radius-bottomright 10px
  :color #FFF
  :margin-bottom 10px
  :overflow hidden
  .logo
    :font-size 20px
    :font-weight bold
    :padding 5px 10px
    a:link, a:visited, a:active
      :color #FFF
      :text-decoration none
    a:hover
      :text-decoration underline
  .user-nav
    :font-size 14px
    :padding 10px 10px
    :text-align right
    span
      :margin 0px 15px
    a:link, a:visited, a:active
      :color #FFC
      :text-decoration none
    a:hover
      :color #FFF
      :text-decoration underline

#tools
  :border solid 5px #173768
  :background #E9F7FF
  :padding 15px 15px
  :border-radius 10px
  :-webkit-border-radius 10px
  :-moz-border-radius 10px
  :margin-bottom 10px
  p.tools-title
    :font-size 18px
    :line-height 18px
    :margin-bottom 18px
    :color #173768
    :font-weight bold
    span
      :float right
      :font-size 14px
      :font-weight normal
      a:link, a:visited, a:active
        :color #F00
  p.tools-description
    :font-size 14px
    :color #333
    :margin-bottom 18px
    a:link, a:visited, a:active
      :color #F00
  p.tools-description:last-child
    :margin-bottom 0
  p.tools-link
    :text-align center
    :margin-bottom 18px
    span.button
      :position relative
      :display inline
      :background #777
      :background rgba(0, 0, 0, 0.65)
      :text-align center
      :padding 6px 0
      :color #FFF
      :font-size 14px
      :font-weight bold
      :-webkit-border-radius 18px
      :-moz-border-radius 18px
      :border-radius 18px
      :text-decoration none
      :text-shadow #333 2px 2px 2px
      :margin-bottom 5px
      :z-index 1010
      a:link, a:visited, a:active
        :color #FFF
        :text-decoration none
        :padding 8px 30px
    span.help-arrow
      :display none
      :position absolute
      :top -55px
      :left 515px
      :z-index 1000px
      
.login-form
  :padding-top 50px
  h1
    :font-size 24px
    :line-height 36px
    :margin-bottom 18px
    :font-weight bold
    :color #555
    
  form
    .errorExplanation
      :margin-bottom 15px
      h2
        :display none
      p
        :display none
      ul
        :list-style none
        :border-style solid none
        :border-color #A00
        :border-width 1px
        li
          :padding 5px 10px
          :font-size 14px
          :color #7C2D2D
          :background #FFE6E6
    .field
      :clear both
      :margin-bottom 5px
      label
        :float left
        :font-size 14px
        :width 100px
        :color #333
        :padding-top 7px
      .text
        :margin 3px
        :padding 3px
        :font-size 14px
        :color #555
        :font-weight bold
    .field_with_errors
      :display inline
      .text
        :background #FFE6E6
    .remember
      :font-size 14px
      :color #555
      input
        :margin-left 10px
    .buttons
      :margin-top 10px
      .button
        :margin-left 103px

.login-help
  :padding-top 50px
  h2
    :font-size 18px
    :line-height 18px
    :margin-bottom 18px
    :padding-top 12px
    :font-weight bold
    :color #555
  p
    :font-size 14px
    :color #555
    :line-height 18px
    :margin-bottom 18px
    
    a:link, a:visited, a:active
      :color #00F

.registration-form
  :padding-top 50px
  h1
    :font-size 24px
    :line-height 36px
    :margin-bottom 18px
    :font-weight bold
    :color #555
    
  form
    .errorExplanation
      :margin-bottom 15px
      h2
        :display none
      p
        :display none
      ul
        :list-style none
        :border-style solid none
        :border-color #A00
        :border-width 1px
        li
          :padding 5px 10px
          :font-size 14px
          :color #7C2D2D
          :background #FFE6E6
    .field
      :clear both
      :margin-bottom 5px
      label
        :float left
        :font-size 14px
        :width 125px
        :color #333
        :padding-top 7px
      .text
        :margin 3px
        :padding 3px
        :font-size 14px
        :color #555
        :font-weight bold
    .field_with_errors
      :display inline
      .text
        :background #FFE6E6
    .remember
      :font-size 14px
      :color #555
      input
        :margin-left 10px
    .buttons
      :margin-top 10px
      .button
        :margin-left 128px

      
.simple-form
  h1
    :font-size 24px
    :line-height 36px
    :margin-bottom 18px
    :font-weight bold
    :color #555
  p
    :font-size 14px
    :line-height 18px
    :color #555
    :margin-bottom 18px
  p.last-child
    :margin-bottom 0
    
  form
    .errorExplanation
      :margin-bottom 15px
      h2
        :display none
      p
        :display none
      ul
        :list-style none
        :border-style solid none
        :border-color #A00
        :border-width 1px
        li
          :padding 5px 10px
          :font-size 14px
          :color #7C2D2D
          :background #FFE6E6
    .optional-field
      :margin 5px 0 5px 103px
      :font-size 14px
      a:link, a:visited, a:active
        :color #00F
    .field
      :clear both
      :margin-bottom 5px
      label
        :float left
        :font-size 14px
        :width 100px
        :color #333
        :padding-top 7px
      input.text
        :margin 3px
        :padding 3px
        :font-size 14px
        :color #555
        :font-weight bold
      textarea.text
        :margin 3px
        :padding 3px
        :font-size 14px
        :line-height 18px
        :color #555
        :font-family Rockwell, Helvetica, Arial, sans-serif
    .field.padforselect
      label
        :padding-top 0px
    .field.padforcheckbox
      :margin-top 10px
      label
        :padding-top 0px
    .field_with_errors
      :display inline
      .text
        :background #FFE6E6
    .buttons
      :clear both
      :margin-top 10px
      .button
        :margin-left 103px

.bookmarklet-form
  .response
    :margin-top 25px
    :font-size 14px
    :color #333
  form
    .errorExplanation
      :margin-bottom 15px
      h2
        :display none
      p
        :display none
      ul
        :list-style none
        :border-style solid none
        :border-color #A00
        :border-width 1px
        li
          :padding 5px 10px
          :font-size 14px
          :color #7C2D2D
          :background #FFE6E6
    .field
      :clear both
      :margin-bottom 5px
      label
        :float left
        :font-size 14px
        :width 100px
        :color #333
        :padding-top 7px
      input.text
        :margin 3px
        :padding 3px
        :font-size 14px
        :color #555
        :font-weight bold
    .field.padforselect
      label
        :padding-top 0px
    .field_with_errors
      :display inline
      .text
        :background #FFE6E6
    .buttons
      :margin-top 10px
      .button
        :margin-left 103px

        
.roundedbutton
  :display block
  :background #173768
  :background rgba(23, 55, 104, 0.85)
  :text-align center
  :padding 6px 0
  :color #FFF
  :font-size 14px
  :font-weight bold
  :-webkit-border-radius 18px
  :-moz-border-radius 18px
  :border-radius 18px
  :text-decoration none
  :text-shadow #333 2px 2px 2px
  :margin-bottom 5px
  a:link, a:visited
    :color #FFFEDB
    :text-decoration none
    :padding 8px 20px
  a:hover
    :color #FFF
  img
    :vertical-align top
    :padding-top 2px
    :margin-right 5px

.post-summary:last-of-type
  :border-bottom none
.post-summary.with-body
  :border-bottom none
.post-summary
  :margin-bottom 10px
  :padding-bottom 10px
  :border-bottom solid 1px #D6D6D6
  div.heading
    div.vote-actions
      :float left
      :margin-right 10px
      :padding-top 2px
      img
        :vertical-align middle
    div.title
      :overflow hidden
      :font-size 18px
      :line-height 24px
      :color #555
      a:link, a:visited, a:active
        :color #555
        :text-decoration none
      a:hover
        :text-decoration underline
      img
        :margin 0 5px
        :vertical-align baseline
      span.url
        :font-size 14px
        :color #999
  p.byline
    :font-size 12px
    :color #777
    :margin-left 44px
    :line-height 18px
    span.bucket, span.author
      :margin 0px 5px
      :color #555
    a:link, a:visited, a:active
      :color #555
      :text-decoration none
    a:hover
      :text-decoration underline
    span.spacer
      :margin 0px 5px
      :color #CCC

.breadcrumb
  :font-size 16px
  :border-top solid 1px #CCC
  :border-bottom solid 1px #CCC
  :margin-bottom 15px
  a:link, a:visited, a:active
    :color #555
    :text-decoration none
  a:hover
    :text-decoration underline
  img
    :vertical-align middle
    :margin-right 10px
    
.bucket-list
  :list-style none
  li
    :font-size 14px
    :display block
    :border-top solid 1px #E6E6E6
    a:link, a:visited, a:active
      :color #555
      :padding 5px 10px
      :display block
      :text-decoration none
    a:hover
      :text-decoration underline
    a:hover
      :background #EEE
  li.active
    :font-weight bold
  li:last-child
    :border-bottom solid 1px #E6E6E6
    
.comment
  :margin-bottom 18px
  .comment-byline
    :font-size 12px
    :color #777
    :line-height 18px
    :margin-bottom 5px
    span.author
      :margin 0px 5px
      :color #555
    span.title
      :margin 0px 5px
      :color #555
    span.spacer
      :margin 0 5px
      :color #CCC
    span.vote-actions
      :margin-right 5px
      img
        :vertical-align middle
    span
      a:link, a:visited, a:active
        :color #555
        :text-decoration none
      a:hover
        :text-decoration underline
  .comment-body
    :font-size 14px
    :color #333
    :line-height 18px
    :margin-bottom 18px
    :margin-left 40px
  .comment-body:last-child
    :margin-bottom 0px
  .reply-link
    :font-size 14px
    :margin-left 40px
    a:link, a:visited, a:active
      :color #333

.footer
  :margin-top 100px
  :padding-top 20px
  :border-top solid 1px #D6D6D6
  :overflow hidden
  :padding-bottom 25px
.footer-section
  h2
    :font-size 16px
    :color #555
    :line-height 18px
  ul
    :list-style none
    li
      :font-size 14px
      :color #555
      a:link, a:visited, a:active
        :color #555
        :text-decoration none
      a:hover
        :text-decoration underline