body.dashboard-index
  .bucket-list
    :list-style none
    li
      :font-size 14px
      :display block
      :border-top solid 1px #E6E6E6
      a:link, a:visited, a:active
        :color #555
        :padding 5px 10px
        :display block
        :text-decoration none
      a:hover
        :text-decoration underline
      a:hover
        :background #EEE
    li:last-child
      :border-bottom solid 1px #E6E6E6