body.posts-show
  h1
    :font-size 24px
    :line-height 36px
    :color #555
      
  p.byline
    :font-size 12px
    :color #777
    :margin-left 44px
    :margin-bottom 10px
    :line-height 18px
    span.author
      :margin 0px 5px
      :color #555
    span.spacer
      :color #CCC
      :margin 0 5px
    a:link, a:visited, a:active
      :color #555
      :text-decoration none
      img
        :vertical-align top

    a:hover
      :text-decoration underline

  .post-body
    :font-size 14px
    :color #333
    :line-height 18px
    :margin-bottom 18px
    :margin-left 44px
  .post-body:last-child
    :margin-bottom 0px
      
  .post-comment-form
    :margin-top 20px
    :margin-left 44px
    form
      .field
        :clear both
        :margin-bottom 5px
        textarea.text
          :margin 3px
          :padding 3px
          :font-size 14px
          :line-height 18px
          :color #555
          :font-family Rockwell, Helvetica, Arial, sans-serif
      .buttons
        :margin-top 10px

  #comments
    :margin-top 25px
  .comment
    :margin-bottom 18px
    .comment-byline
      :font-size 12px
      :color #777
      :line-height 18px
      :margin-bottom 5px
      span.author
        :margin 0px 5px
        :color #555
      span.spacer
        :margin-right 5px
        :color #CCC
      span.vote-actions
        :margin-right 5px
        img
          :vertical-align middle
          
    .comment-body
      :font-size 14px
      :color #333
      :line-height 18px
      :margin-bottom 18px
      :margin-left 40px
    .comment-body:last-child
      :margin-bottom 0px