body {
  font-family: Rockwell, Helvetica, Arial, sans-serif;
  font-size: 10px; }

#header-bar {
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  margin-bottom: 10px;
  overflow: hidden; }
  #header-bar .logo {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px; }
  #header-bar .user-nav {
    font-size: 14px;
    padding: 10px 10px;
    text-align: right; }
    #header-bar .user-nav span {
      margin: 0px 15px; }
    #header-bar .user-nav a:link, #header-bar .user-nav a:visited, #header-bar .user-nav a:active {
      color: #ffffcc;
      text-decoration: none; }
    #header-bar .user-nav a:hover {
      color: white;
      text-decoration: underline; }

.login-form {
  padding-top: 50px; }
  .login-form h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #555555; }
  .login-form form .errorExplanation {
    margin-bottom: 15px; }
    .login-form form .errorExplanation h2 {
      display: none; }
    .login-form form .errorExplanation p {
      display: none; }
    .login-form form .errorExplanation ul {
      list-style: none;
      border-style: solid none;
      border-color: #aa0000;
      border-width: 1px; }
      .login-form form .errorExplanation ul li {
        padding: 5px 10px;
        font-size: 14px;
        color: #7c2d2d;
        background: #ffe6e6; }
  .login-form form .field {
    clear: both;
    margin-bottom: 5px; }
    .login-form form .field label {
      float: left;
      font-size: 14px;
      width: 100px;
      color: #333333;
      padding-top: 7px; }
    .login-form form .field .text {
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      color: #555555;
      font-weight: bold; }
  .login-form form .field_with_errors {
    display: inline; }
    .login-form form .field_with_errors .text {
      background: #ffe6e6; }
  .login-form form .remember {
    font-size: 14px;
    color: #555555; }
    .login-form form .remember input {
      margin-left: 10px; }
  .login-form form .buttons {
    margin-top: 10px; }
    .login-form form .buttons .button {
      margin-left: 103px; }

.login-help {
  padding-top: 50px; }
  .login-help h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    padding-top: 12px;
    font-weight: bold;
    color: #555555; }
  .login-help p {
    font-size: 14px;
    color: #555555;
    line-height: 18px;
    margin-bottom: 18px; }
    .login-help p a:link, .login-help p a:visited, .login-help p a:active {
      color: blue; }

.registration-form {
  padding-top: 50px; }
  .registration-form h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #555555; }
  .registration-form form .errorExplanation {
    margin-bottom: 15px; }
    .registration-form form .errorExplanation h2 {
      display: none; }
    .registration-form form .errorExplanation p {
      display: none; }
    .registration-form form .errorExplanation ul {
      list-style: none;
      border-style: solid none;
      border-color: #aa0000;
      border-width: 1px; }
      .registration-form form .errorExplanation ul li {
        padding: 5px 10px;
        font-size: 14px;
        color: #7c2d2d;
        background: #ffe6e6; }
  .registration-form form .field {
    clear: both;
    margin-bottom: 5px; }
    .registration-form form .field label {
      float: left;
      font-size: 14px;
      width: 125px;
      color: #333333;
      padding-top: 7px; }
    .registration-form form .field .text {
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      color: #555555;
      font-weight: bold; }
  .registration-form form .field_with_errors {
    display: inline; }
    .registration-form form .field_with_errors .text {
      background: #ffe6e6; }
  .registration-form form .remember {
    font-size: 14px;
    color: #555555; }
    .registration-form form .remember input {
      margin-left: 10px; }
  .registration-form form .buttons {
    margin-top: 10px; }
    .registration-form form .buttons .button {
      margin-left: 128px; }

.simple-form h1 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
  font-weight: bold;
  color: #555555; }
.simple-form p {
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 18px; }
.simple-form p.last-child {
  margin-bottom: 0; }
.simple-form form .errorExplanation {
  margin-bottom: 15px; }
  .simple-form form .errorExplanation h2 {
    display: none; }
  .simple-form form .errorExplanation p {
    display: none; }
  .simple-form form .errorExplanation ul {
    list-style: none;
    border-style: solid none;
    border-color: #aa0000;
    border-width: 1px; }
    .simple-form form .errorExplanation ul li {
      padding: 5px 10px;
      font-size: 14px;
      color: #7c2d2d;
      background: #ffe6e6; }
.simple-form form .optional-field {
  margin: 5px 0 5px 103px;
  font-size: 14px; }
  .simple-form form .optional-field a:link, .simple-form form .optional-field a:visited, .simple-form form .optional-field a:active {
    color: blue; }
.simple-form form .field {
  clear: both;
  margin-bottom: 5px; }
  .simple-form form .field label {
    float: left;
    font-size: 14px;
    width: 100px;
    color: #333333;
    padding-top: 7px; }
  .simple-form form .field input.text {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    color: #555555;
    font-weight: bold; }
  .simple-form form .field textarea.text {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    font-family: Rockwell, Helvetica, Arial, sans-serif; }
.simple-form form .field_with_errors {
  display: inline; }
  .simple-form form .field_with_errors .text {
    background: #ffe6e6; }
.simple-form form .remember {
  font-size: 14px;
  color: #555555; }
  .simple-form form .remember input {
    margin-left: 10px; }
.simple-form form .buttons {
  margin-top: 10px; }
  .simple-form form .buttons .button {
    margin-left: 103px; }

.roundedbutton {
  display: block;
  background: rgba(23, 55, 104, 0.85);
  text-align: center;
  padding: 6px 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  text-decoration: none;
  text-shadow: #333333 2px 2px 2px;
  margin-bottom: 5px; }
  .roundedbutton a:link, .roundedbutton a:visited {
    color: #fffedb;
    text-decoration: none;
    padding: 8px 20px; }
  .roundedbutton a:hover {
    color: white; }
  .roundedbutton img {
    vertical-align: top;
    padding-top: 2px;
    margin-right: 5px; }

.post-list .post-summary p.title {
  font-size: 24px;
  line-height: 36px;
  color: #555555; }
  .post-list .post-summary p.title img {
    vertical-align: middle;
    margin-right: 5px; }
  .post-list .post-summary p.title a:link, .post-list .post-summary p.title a:visited, .post-list .post-summary p.title a:active {
    color: #555555;
    text-decoration: none; }
  .post-list .post-summary p.title a:hover {
    text-decoration: underline; }
.post-list .post-summary p.byline {
  font-size: 12px;
  color: #777777;
  margin-left: 28px;
  line-height: 18px; }
  .post-list .post-summary p.byline span.bucket, .post-list .post-summary p.byline span.author {
    margin: 0px 5px;
    color: #555555; }
    .post-list .post-summary p.byline span.bucket a:link, .post-list .post-summary p.byline span.bucket a:visited, .post-list .post-summary p.byline span.bucket a:active, .post-list .post-summary p.byline span.author a:link, .post-list .post-summary p.byline span.author a:visited, .post-list .post-summary p.byline span.author a:active {
      color: #555555;
      text-decoration: none; }
    .post-list .post-summary p.byline span.bucket a:hover, .post-list .post-summary p.byline span.author a:hover {
      text-decoration: underline; }
  .post-list .post-summary p.byline span.spacer {
    margin: 0px 5px;
    color: #cccccc; }
