body {
  font-family: Rockwell, Helvetica, Arial, sans-serif;
  font-size: 10px; }

.flash {
  position: absolute;
  top: 5px;
  left: 5px;
  border: solid 3px #eeeeee;
  background: white;
  color: #333333;
  font-size: 14px;
  line-height: 18px;
  z-index: 1000;
  padding: 10px 15px;
  width: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.33); }
  .flash img {
    float: left;
    margin-right: 10px; }

.flash.notice {
  border-color: #17681e;
  color: #17681e; }

.flash.error {
  border-color: #691717;
  color: #691717; }

#header-bar {
  background: #333333;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  margin-bottom: 10px;
  overflow: hidden; }
  #header-bar .logo {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px; }
    #header-bar .logo a:link, #header-bar .logo a:visited, #header-bar .logo a:active {
      color: white;
      text-decoration: none; }
    #header-bar .logo a:hover {
      text-decoration: underline; }
  #header-bar .user-nav {
    font-size: 14px;
    padding: 10px 10px;
    text-align: right; }
    #header-bar .user-nav span {
      margin: 0px 15px; }
    #header-bar .user-nav a:link, #header-bar .user-nav a:visited, #header-bar .user-nav a:active {
      color: #ffffcc;
      text-decoration: none; }
    #header-bar .user-nav a:hover {
      color: white;
      text-decoration: underline; }

#tools {
  border: solid 5px #173768;
  background: #e9f7ff;
  padding: 15px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-bottom: 10px; }
  #tools p.tools-title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    color: #173768;
    font-weight: bold; }
    #tools p.tools-title span {
      float: right;
      font-size: 14px;
      font-weight: normal; }
      #tools p.tools-title span a:link, #tools p.tools-title span a:visited, #tools p.tools-title span a:active {
        color: red; }
  #tools p.tools-description {
    font-size: 14px;
    color: #333333;
    margin-bottom: 18px; }
  #tools p.tools-link {
    text-align: center; }
    #tools p.tools-link span.button {
      display: inline;
      background: #777777;
      background: rgba(0, 0, 0, 0.65);
      text-align: center;
      padding: 6px 0;
      color: white;
      font-size: 14px;
      font-weight: bold;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      border-radius: 18px;
      text-decoration: none;
      text-shadow: #333333 2px 2px 2px;
      margin-bottom: 5px; }
      #tools p.tools-link span.button a:link, #tools p.tools-link span.button a:visited, #tools p.tools-link span.button a:active {
        color: white;
        text-decoration: none;
        padding: 8px 30px; }
    #tools p.tools-link span.help-arrow {
      display: none;
      position: absolute;
      top: -55px;
      left: 510px;
      z-index: 1000px; }

.login-form {
  padding-top: 50px; }
  .login-form h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #555555; }
  .login-form form .errorExplanation {
    margin-bottom: 15px; }
    .login-form form .errorExplanation h2 {
      display: none; }
    .login-form form .errorExplanation p {
      display: none; }
    .login-form form .errorExplanation ul {
      list-style: none;
      border-style: solid none;
      border-color: #aa0000;
      border-width: 1px; }
      .login-form form .errorExplanation ul li {
        padding: 5px 10px;
        font-size: 14px;
        color: #7c2d2d;
        background: #ffe6e6; }
  .login-form form .field {
    clear: both;
    margin-bottom: 5px; }
    .login-form form .field label {
      float: left;
      font-size: 14px;
      width: 100px;
      color: #333333;
      padding-top: 7px; }
    .login-form form .field .text {
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      color: #555555;
      font-weight: bold; }
  .login-form form .field_with_errors {
    display: inline; }
    .login-form form .field_with_errors .text {
      background: #ffe6e6; }
  .login-form form .remember {
    font-size: 14px;
    color: #555555; }
    .login-form form .remember input {
      margin-left: 10px; }
  .login-form form .buttons {
    margin-top: 10px; }
    .login-form form .buttons .button {
      margin-left: 103px; }

.login-help {
  padding-top: 50px; }
  .login-help h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    padding-top: 12px;
    font-weight: bold;
    color: #555555; }
  .login-help p {
    font-size: 14px;
    color: #555555;
    line-height: 18px;
    margin-bottom: 18px; }
    .login-help p a:link, .login-help p a:visited, .login-help p a:active {
      color: blue; }

.registration-form {
  padding-top: 50px; }
  .registration-form h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #555555; }
  .registration-form form .errorExplanation {
    margin-bottom: 15px; }
    .registration-form form .errorExplanation h2 {
      display: none; }
    .registration-form form .errorExplanation p {
      display: none; }
    .registration-form form .errorExplanation ul {
      list-style: none;
      border-style: solid none;
      border-color: #aa0000;
      border-width: 1px; }
      .registration-form form .errorExplanation ul li {
        padding: 5px 10px;
        font-size: 14px;
        color: #7c2d2d;
        background: #ffe6e6; }
  .registration-form form .field {
    clear: both;
    margin-bottom: 5px; }
    .registration-form form .field label {
      float: left;
      font-size: 14px;
      width: 125px;
      color: #333333;
      padding-top: 7px; }
    .registration-form form .field .text {
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      color: #555555;
      font-weight: bold; }
  .registration-form form .field_with_errors {
    display: inline; }
    .registration-form form .field_with_errors .text {
      background: #ffe6e6; }
  .registration-form form .remember {
    font-size: 14px;
    color: #555555; }
    .registration-form form .remember input {
      margin-left: 10px; }
  .registration-form form .buttons {
    margin-top: 10px; }
    .registration-form form .buttons .button {
      margin-left: 128px; }

.simple-form h1 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 18px;
  font-weight: bold;
  color: #555555; }
.simple-form p {
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  margin-bottom: 18px; }
.simple-form p.last-child {
  margin-bottom: 0; }
.simple-form form .errorExplanation {
  margin-bottom: 15px; }
  .simple-form form .errorExplanation h2 {
    display: none; }
  .simple-form form .errorExplanation p {
    display: none; }
  .simple-form form .errorExplanation ul {
    list-style: none;
    border-style: solid none;
    border-color: #aa0000;
    border-width: 1px; }
    .simple-form form .errorExplanation ul li {
      padding: 5px 10px;
      font-size: 14px;
      color: #7c2d2d;
      background: #ffe6e6; }
.simple-form form .optional-field {
  margin: 5px 0 5px 103px;
  font-size: 14px; }
  .simple-form form .optional-field a:link, .simple-form form .optional-field a:visited, .simple-form form .optional-field a:active {
    color: blue; }
.simple-form form .field {
  clear: both;
  margin-bottom: 5px; }
  .simple-form form .field label {
    float: left;
    font-size: 14px;
    width: 100px;
    color: #333333;
    padding-top: 7px; }
  .simple-form form .field input.text {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    color: #555555;
    font-weight: bold; }
  .simple-form form .field textarea.text {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    font-family: Rockwell, Helvetica, Arial, sans-serif; }
.simple-form form .field.padforselect label {
  padding-top: 0px; }
.simple-form form .field_with_errors {
  display: inline; }
  .simple-form form .field_with_errors .text {
    background: #ffe6e6; }
.simple-form form .buttons {
  margin-top: 10px; }
  .simple-form form .buttons .button {
    margin-left: 103px; }

.bookmarklet-form .response {
  margin-top: 25px;
  font-size: 14px;
  color: #333333; }
.bookmarklet-form form .errorExplanation {
  margin-bottom: 15px; }
  .bookmarklet-form form .errorExplanation h2 {
    display: none; }
  .bookmarklet-form form .errorExplanation p {
    display: none; }
  .bookmarklet-form form .errorExplanation ul {
    list-style: none;
    border-style: solid none;
    border-color: #aa0000;
    border-width: 1px; }
    .bookmarklet-form form .errorExplanation ul li {
      padding: 5px 10px;
      font-size: 14px;
      color: #7c2d2d;
      background: #ffe6e6; }
.bookmarklet-form form .field {
  clear: both;
  margin-bottom: 5px; }
  .bookmarklet-form form .field label {
    float: left;
    font-size: 14px;
    width: 100px;
    color: #333333;
    padding-top: 7px; }
  .bookmarklet-form form .field input.text {
    margin: 3px;
    padding: 3px;
    font-size: 14px;
    color: #555555;
    font-weight: bold; }
.bookmarklet-form form .field.padforselect label {
  padding-top: 0px; }
.bookmarklet-form form .field_with_errors {
  display: inline; }
  .bookmarklet-form form .field_with_errors .text {
    background: #ffe6e6; }
.bookmarklet-form form .buttons {
  margin-top: 10px; }
  .bookmarklet-form form .buttons .button {
    margin-left: 103px; }

.roundedbutton {
  display: block;
  background: #173768;
  background: rgba(23, 55, 104, 0.85);
  text-align: center;
  padding: 6px 0;
  color: white;
  font-size: 14px;
  font-weight: bold;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  text-decoration: none;
  text-shadow: #333333 2px 2px 2px;
  margin-bottom: 5px; }
  .roundedbutton a:link, .roundedbutton a:visited {
    color: #fffedb;
    text-decoration: none;
    padding: 8px 20px; }
  .roundedbutton a:hover {
    color: white; }
  .roundedbutton img {
    vertical-align: top;
    padding-top: 2px;
    margin-right: 5px; }

.post-summary {
  margin-bottom: 15px; }
  .post-summary div.heading div.vote-actions {
    float: left;
    margin-right: 10px;
    padding-top: 2px; }
    .post-summary div.heading div.vote-actions img {
      vertical-align: middle; }
  .post-summary div.heading div.title {
    overflow: hidden;
    font-size: 18px;
    line-height: 24px;
    color: #555555; }
    .post-summary div.heading div.title a:link, .post-summary div.heading div.title a:visited, .post-summary div.heading div.title a:active {
      color: #555555;
      text-decoration: none; }
    .post-summary div.heading div.title a:hover {
      text-decoration: underline; }
    .post-summary div.heading div.title img {
      margin: 0 5px;
      vertical-align: baseline; }
    .post-summary div.heading div.title span.url {
      font-size: 14px;
      color: #999999; }
  .post-summary p.byline {
    font-size: 12px;
    color: #777777;
    margin-left: 44px;
    line-height: 18px; }
    .post-summary p.byline span.bucket, .post-summary p.byline span.author {
      margin: 0px 5px;
      color: #555555; }
    .post-summary p.byline a:link, .post-summary p.byline a:visited, .post-summary p.byline a:active {
      color: #555555;
      text-decoration: none; }
    .post-summary p.byline a:hover {
      text-decoration: underline; }
    .post-summary p.byline span.spacer {
      margin: 0px 5px;
      color: #cccccc; }

.breadcrumb {
  font-size: 16px;
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  margin-bottom: 15px; }
  .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
    color: #555555;
    text-decoration: none; }
  .breadcrumb a:hover {
    text-decoration: underline; }
  .breadcrumb img {
    vertical-align: middle;
    margin-right: 10px; }

.bucket-list {
  list-style: none; }
  .bucket-list li {
    font-size: 14px;
    display: block;
    border-top: solid 1px #e6e6e6; }
    .bucket-list li a:link, .bucket-list li a:visited, .bucket-list li a:active {
      color: #555555;
      padding: 5px 10px;
      display: block;
      text-decoration: none; }
    .bucket-list li a:hover {
      text-decoration: underline; }
    .bucket-list li a:hover {
      background: #eeeeee; }
  .bucket-list li.active {
    font-weight: bold; }
  .bucket-list li:last-child {
    border-bottom: solid 1px #e6e6e6; }
