body {
  font-family: Rockwell, Helvetica, Arial, sans-serif;
  font-size: 10px; }

#header-bar {
  background: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  margin-bottom: 10px;
  overflow: hidden; }
  #header-bar .logo {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px; }
  #header-bar .user-nav {
    font-size: 14px;
    padding: 10px 10px;
    text-align: right; }
    #header-bar .user-nav span {
      margin: 0px 15px; }
    #header-bar .user-nav a:link, #header-bar .user-nav a:visited, #header-bar .user-nav a:active {
      color: #ffffcc;
      text-decoration: none; }
    #header-bar .user-nav a:hover {
      color: white;
      text-decoration: underline; }

.login-form {
  padding-top: 50px; }
  .login-form h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #555555; }
  .login-form form .errorExplanation {
    margin-bottom: 15px; }
    .login-form form .errorExplanation h2 {
      display: none; }
    .login-form form .errorExplanation p {
      display: none; }
    .login-form form .errorExplanation ul {
      list-style: none;
      border-style: solid none;
      border-color: #aa0000;
      border-width: 1px; }
      .login-form form .errorExplanation ul li {
        padding: 5px 10px;
        font-size: 14px;
        color: #7c2d2d;
        background: #ffe6e6; }
  .login-form form .field {
    clear: both;
    margin-bottom: 5px; }
    .login-form form .field label {
      float: left;
      font-size: 14px;
      width: 100px;
      color: #333333;
      padding-top: 7px; }
    .login-form form .field .text {
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      color: #555555;
      font-weight: bold; }
  .login-form form .field_with_errors {
    display: inline; }
    .login-form form .field_with_errors .text {
      background: #ffe6e6; }
  .login-form form .remember {
    font-size: 14px;
    color: #555555; }
    .login-form form .remember input {
      margin-left: 10px; }
  .login-form form .buttons {
    margin-top: 10px; }
    .login-form form .buttons .button {
      margin-left: 100px; }

.login-help {
  padding-top: 50px; }
  .login-help h2 {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    padding-top: 12px;
    font-weight: bold;
    color: #555555; }
  .login-help p {
    font-size: 14px;
    color: #555555;
    line-height: 18px;
    margin-bottom: 18px; }
    .login-help p a:link, .login-help p a:visited, .login-help p a:active {
      color: blue; }
