body.posts-show h1 {
  font-size: 24px;
  line-height: 36px;
  color: #555555; }
body.posts-show p.byline {
  font-size: 12px;
  color: #777777;
  margin-left: 44px;
  margin-bottom: 10px;
  line-height: 18px; }
  body.posts-show p.byline span.author {
    margin: 0px 5px;
    color: #555555; }
  body.posts-show p.byline span.spacer {
    color: #cccccc;
    margin: 0 5px; }
  body.posts-show p.byline a:link, body.posts-show p.byline a:visited, body.posts-show p.byline a:active {
    color: #555555;
    text-decoration: none; }
    body.posts-show p.byline a:link img, body.posts-show p.byline a:visited img, body.posts-show p.byline a:active img {
      vertical-align: top; }
  body.posts-show p.byline a:hover {
    text-decoration: underline; }
body.posts-show .post-body {
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  margin-bottom: 18px;
  margin-left: 44px; }
body.posts-show .post-body:last-child {
  margin-bottom: 0px; }
body.posts-show .post-comment-form {
  margin-top: 20px;
  margin-left: 44px; }
  body.posts-show .post-comment-form form .field {
    clear: both;
    margin-bottom: 5px; }
    body.posts-show .post-comment-form form .field textarea.text {
      margin: 3px;
      padding: 3px;
      font-size: 14px;
      line-height: 18px;
      color: #555555;
      font-family: Rockwell, Helvetica, Arial, sans-serif; }
  body.posts-show .post-comment-form form .buttons {
    margin-top: 10px; }
body.posts-show #comments {
  margin-top: 25px; }
body.posts-show .comment {
  margin-bottom: 18px; }
  body.posts-show .comment .comment-byline {
    font-size: 12px;
    color: #777777;
    line-height: 18px;
    margin-bottom: 5px; }
    body.posts-show .comment .comment-byline span.author {
      margin: 0px 5px;
      color: #555555; }
    body.posts-show .comment .comment-byline span.spacer {
      margin-right: 5px;
      color: #cccccc; }
    body.posts-show .comment .comment-byline span.vote-actions {
      margin-right: 5px; }
      body.posts-show .comment .comment-byline span.vote-actions img {
        vertical-align: middle; }
  body.posts-show .comment .comment-body {
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    margin-bottom: 18px;
    margin-left: 40px; }
  body.posts-show .comment .comment-body:last-child {
    margin-bottom: 0px; }
