%div#footer.footer
  %div.grid_4.prefix_2.alpha
    %div.footer-section
      %ul
        - if !@site_configuration.private_site or current_user
          - unless @site_configuration.private_site
            %li= link_to "RSS Feed", rss_url(:format => :xml)
          - else
            - unless @site_configuration.alternate_rss_url.blank?
              %li= link_to "RSS Feed", alternate_rss_url
            - else
            %li= link_to "RSS Feed", rss_url(:format => :xml, :token => current_user.single_access_token)
        %li
          Creative Commons Attributions  

  %div.grid_4
    %div.footer-section
      &nbsp;
  %div.grid_4.suffix_2.omega
    %div.footer-section
      %ul
        %li
          &copy 2010 -
          = link_to "www.codestorming.com", "http://www.codestorming.com", :target => "_blank"
